/* 图标 */
.icon {
  --icon-size: 24px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: normal;
  width: var(--icon-size);
  min-width: var(--icon-size);
  height: var(--icon-size);
  line-height: 1;
  text-indent: 0;
  text-align: center;
  user-select: none;
  vertical-align: middle;
}

.icon__svg {
  fill: currentColor;
  width: 100%;
  height: 100%;
}

/* 滚动条美化 */
.customize-scrollbar::-webkit-scrollbar {
  width: 12px;  /* 宽度（垂直滚动条） */
  height: 12px; /* 高度（水平滚动条） */
}

/* 滚动条的滑块（滚动条中的滚动块） */
.customize-scrollbar::-webkit-scrollbar-thumb {
  background: #888;       /* 滑块颜色 */
  border-radius: 6px;       /* 圆角 */
  border: 2px solid #fff; /* 滑块内边距颜色 */
}

/* 鼠标悬停时的滑块 */
.customize-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* 悬停时的颜色 */
}

/* 滚动条轨道（滑块所在区域） */
.customize-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;  /* 轨道颜色 */
  border-radius: 6px;     /* 圆角 */
}

/* 轨道中的边框或内边距（可选） */
.customize-scrollbar::-webkit-scrollbar-track-piece {
  background-color: #e0e0e0;
}
